* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 56px 0px 0px 0px;
    color: whitesmoke;
}

p {
    color: black;
}

#jumbo {
    background-image: url("../images/CodeWithMoki.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 25vh;
    background-size: cover;
}

#about {
    background-image: url("../images/horizon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    background-size: cover;
}

#skills {
    background-image: url("https://images.unsplash.com/photo-1508317469940-e3de49ba902e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    background-size: cover;
}

#contact {
    background-color: black;
    color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
}

ul {
    list-style: none;
}

.EmailContact {
    display: flex;
}
